.main-content {
  min-height: calc(100vh - 64px - 240px);
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: var(--space-stack-lg);
  padding-inline: var(--space-margin-mobile);

  @media (min-width: 768px) {
    padding-inline: var(--space-margin-desktop);
  }
}
